<div class="main-container">
  <mat-toolbar color="primary">
    <h2>Food Search</h2>
    <span class="space"></span>
    <button mat-mini-fab color="accent">
      <mat-icon>view_list</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container searchContent">
    <!--Search content-->
    <h4 class="title">Search</h4>
    <div class="row search">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Grilled Cheese">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <!--Queried content-->
  </div>
  <div class="container">
    <div class="row content">
     
    </div>
  </div>
</div>