<div class="main-container">
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <h2>Food Search</h2>
    <span class="space"></span>
    <button mat-mini-fab color="accent" (click)="displaySearchContainer = !displaySearchContainer">
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container searchContent" *ngIf="displaySearchContainer" @expandableState>
    <!--Search content-->
    <div class="row search">
      <mat-form-field appearance="outline" *ngIf="displaySearchContainer" @openClose>
        <input matInput placeholder="Search">
        <button mat-button class="searchBtn" maxlength="50">
          <mat-icon matSuffix>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!--Queried content-->
  </div>
  <app-recipe-list></app-recipe-list>
</div>